@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* FONTS 

font-family: 'Arimo', sans-serif;
font-family: 'Atkinson Hyperlegible', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Nanum Myeongjo', serif;

*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 22, 26);
}

/* styles.css */
#datetime {
    font-family: 'Fraunces', serif;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#datetime h1 {
    font-size: 20vw;
    margin: 0;
}

#datetime p {
    font-size: 3vw;
    text-align: center;
    margin-top: -2vw;
}

footer {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    position: fixed;
    bottom:0;
    margin: 20px;
    color: rgb(172, 172, 172);
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}

